.App {
  text-align: center;
  margin-top: 100px;
  display: block;
}
.input-form{
  margin-top: 50px;
}
.input-form input{
  min-width: 200px;
  height: 30px;
}
.input-form label{
  margin-right: 20px;
}
button{
  margin-top: 30px;
  cursor: pointer;
  padding: 10px 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
